<section class="about">
    <p>
        I’m back-end developer and front-end developer and ui/ux designer and tech learn and bloger and ... etc. Easy to
        say, that I’m man orchestra. Since 15 I in IT and I not gonna to stop. For now I offer fullstack js development
        and ui/ux design. This areas that I love most and have a lot of expertise.
    </p>
    <p>
        I always take full responsability of my work, never say: “Oh thats work on my machine” and go away from
        problems. For my work I make deploy providing https and more for production ready state.
    </p>
</section>
