<section class="about">
    <p>
        Пару слов обо мне и моей биографии. Мне 20 лет. Родился в Москве, учился в физ-мат школе, последние 2 года в факультативном
        it классе.
        Программировать начал в 12 лет на кружке и продолжил уже самостоятельно, работать начал в 15 ну и дальше можете
        посмотреть по резюме...
    </p>
    <p>
        Из своих сильных сторон могу отметить дисциплину и порядочность.
        Из слабых нетерпеливость и невнимательность.
    </p>
    <p>
        Я принципиально называю себя software engineer, так как считаю, что настоящий инженер,
        не может исключительно из-за любопытности останавливаться на фронте или беке и превратиться в Button React Developer-а.
    </p>
    <p>
        Если не считать целей хорошо работать и получать повышения. Я хочу внести свой вклад в инженерную культуру СНГ.
        На этом все, мои контакты есть резюме и футере этого сайта.
    </p>
</section>
