<section class="about">
    <p>Hi! I am Egor Tokarev, a developer and designer. I help businesses create high-quality websites and web
        applications. For this I work out user experience, design, create back-end and front-end parts of the
        application,
        insist on architecture for deployment. Through this page, you can have a look at my projects and contact me.
    </p>
    <p>My mission in my professional life is to create the best conceived, highest quality and most awesome products, it
        may take me a while, but the end result will be such that people will be amazed by the product I work on, will
        leave
        their old tools and will switch to the product I develop. If you are on the same page, I will gladly work with
        you.
    </p>
</section>
