@use "src/style/responsive";
@use "src/style/typography";

.home-title {
  font-family: 'Manrope', sans-serif;
  font-size: 48px;
  font-weight: 700;
  color: var(--gray-100);

  @include responsive.apply-desktop {
    font-size: 128px;
  }
}
