@use "src/style/responsive";
@use "src/style/typography";

.action_button {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 285px;
  padding: 11px 0;
  color: var(--dark);
  cursor: pointer;
  background-color: var(--white);
  border: none;
  border-radius: 10px;
  outline: none;

  @include typography.title-2;

  @include responsive.apply-desktop {
    width: unset;
  }
}
