<section class="hero">
    <div class="hero__overlay"></div>
    <div class="hero__inner">
        <div class="hero__quotes quotes">
            <span class="quotes__label label-3">My favorite quotes:</span>
            <blockquote data-hero-quote class="quotes__content body-3">
                <a
                        href="https://quotepark.com/quotes/1935928-aeschylus-zeus-who-guided-mortals-to-be-wise-has-establis/"
                        target="_blank"
                >
                    <p style="opacity: 1; z-index: 1">
                        Zeus, who guided mortals to be wise, has establishment his fixed law -- wisdom
                        comes through
                        suffering
                    </p>
                </a>
                <a
                        href="https://www.business-standard.com/content/specials/success-is-not-final-failure-is-not-fatal-it-is-the-courage-to-continue-that-counts-winston-churchill-121042300664_1.html#:~:text=Content%20%C2%BB%20Specials%20%C2%BB%20Articles-,%22Success%20is%20not%20final%3B%20failure%20is%20not%20fatal%3A%20it,that%20counts.%22%20%2D%20Winston%20Churchill"
                        target="_blank"
                >
                    <p style="opacity: 0; z-index: 0">
                        Success is not final; failure is not fatal: It is the courage to continue that counts.
                    </p>
                </a>
                <a
                        href="https://borettiinc.com/the-secret-of-success-is-to-do-the-common-thing-uncommonly-well/"
                        target="_blank"
                >
                    <p style="opacity: 0; z-index: 0">the secret of success is to do the common thing uncommonly well</p>
                </a>
            </blockquote>
        </div>
        <nav class="hero__nav hero-nav">
            <ul class="hero-nav__list">
                <li class="hero-nav__item">
                    <a class="hero-nav__link body-2">
                        What I can do for you
                    </a>
                </li>
                <li class="hero-nav__item">
                    <a class="hero-nav__link body-2" href="#projects">
                        Projects
                    </a>
                </li>
                <li class="hero-nav__item">
                    <a class="hero-nav__link body-2">
                        Skills
                    </a>
                </li>

            </ul>
        </nav>
        <div class="hero__greet hero-greet">
            <h2 class="hero-greet__name">Gregor Tokarev</h2>
            <h1 class="hero-greet__job">Fullstack developer & UI/UX designer</h1>
        </div>
    </div>
</section>
