<section class="hero">
    <div class="hero__overlay"></div>
    <div class="hero__inner">
      <%- include("../action_button/action_button.ejs")%>
      <nav class="hero__nav hero-nav">
            <ul class="hero-nav__list">
                <li class="hero-nav__item">
                    <a class="link title-3" href="#projects">
                        Projects
                    </a>
                </li>
                <li class="hero-nav__item">
                    <a class="link title-3" href="#skills">
                        Skills
                    </a>
                </li>

            </ul>
        </nav>
        <div class="hero__greet hero-greet">
            <h2 class="hero-greet__name">Gregor Tokarev</h2>
            <h1 class="hero-greet__job">Software engineer </h1>
        </div>
    </div>
</section>
