<section class="hero">
    <div class="hero__overlay"></div>
    <div class="hero__inner">
        <div class="hero__quotes quotes">
            <span class="quotes__label">My favorite quotes:</span>
            <blockquote data-hero-quote class="quotes__content">
                <p>
                    Zeus, who guided mortals to be wise, has establishment his fixed law -- wisdom
                    comes through
                    suffering
                </p>
                <p>
                    If anything is worth doing, do it with all your heart.
                </p>
                <p>
                    People think focus means saying yes to the thing you've got to focus
                    on. It means saying no to the hundred other good ideas that there are. You have to pick
                    carefully.
                </p>
            </blockquote>
        </div>
        <nav class="hero__nav hero-nav">
            <ul class="hero-nav__list">
                <li class="hero-nav__item">
                    <a class="link title-3" href="#projects">
                        Projects
                    </a>
                </li>
                <li class="hero-nav__item">
                    <a class="link title-3" href="#skills">
                        Skills
                    </a>
                </li>

            </ul>
        </nav>
        <div class="hero__greet hero-greet">
            <h2 class="hero-greet__name">Gregor Tokarev</h2>
            <h1 class="hero-greet__job">Fullstack developer & UI/UX designer</h1>
        </div>
    </div>
</section>
