@use "src/style/typography";
@use "src/style/responsive";

.footer {
  padding: 0 0 100px;
  margin-top: 180px;
  background-color: var(--dark);

  @include responsive.apply-desktop {
    padding: 0;
    margin-top: 260px;
  }

  &__inner {
    @include responsive.apply-desktop {
      display: flex;
      align-items: flex-start;
      max-width: 1180px;
      margin: 0 auto;
    }
  }

  &__nav {
    @include responsive.apply-desktop {
      flex-basis: 40%;
      align-self: stretch;
      order: 1;
      margin-left: auto;
      border-right: 1px solid white;
      border-left: 1px solid white;
    }
  }

  &__nav-list {
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style-type: none;

    @include responsive.apply-desktop {
      justify-content: center;
    }
  }

  &__item {
    display: block;
    font-family: Manrope, sans-serif;
    font-size: 32px;
    font-weight: 400;
    color: white;
    text-transform: uppercase;
    border-bottom: 1px solid white;
    transition: color 0.2s;

    &:hover {
      color: var(--accent);
    }

    @include responsive.apply-desktop {
      &:last-child {
        border-bottom: none;
      }
    }
  }

  &__link {
    display: flex;
    gap: 12px;
    align-items: center;
    padding: 32px responsive.$mobile-x-space;
  }

  &__other {
    @include responsive.apply-desktop {
      flex-grow: 1;
      padding-right: 5%;
    }
  }

  &__message {
    padding: 0 responsive.$mobile-x-space;
    margin-top: 35px;
    font-family: Manrope, sans-serif;
    font-size: 48px;
    color: white;
    text-transform: uppercase;

    @include responsive.apply-desktop {
      margin-top: 50px;
      font-size: 96px;
    }

    span {
      display: block;

      &:nth-child(2) {
        text-align: right;
      }
    }
  }

  $circle-size: 145px;

  &__circle {
    position: relative;
    width: $circle-size;
    height: $circle-size;

    @include responsive.apply-desktop {
      transform: translateY(-100%);
    }
  }

  &__letters {
    color: white;
    animation: rotation linear 10s infinite;
  }

  &__tricangle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
