<footer class="footer">
    <div class="footer__inner">
        <nav class="footer__nav">
            <ul class="footer__nav-list">
                <li class="footer__item">
                    <a href="https://t.me/gregor_work" target="_blank" class="footer__link">
                        <%- include("../../images/icons/telegram.svg")%>
                        <span>@gregor_work</span>
                    </a>
                </li>
                <li class="footer__item">
                    <a href="https://github.com/gregor-tokarev" target="_blank" class="footer__link">
                        <%- include("../../images/icons/github.svg")%>
                        <span>gregor-tokarev</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</footer>
