<footer class="footer">
    <div class="footer__inner">
        <nav class="footer__nav">
            <ul class="footer__nav-list">
                <li class="footer__item">
                    <a href="https://t.me/gregor_tokarev" target="_blank" class="footer__link">
                        <span>telegram</span>
                        <%- include('../../images/icons/arrow-link.svg')%>
                    </a>
                </li>
                <li class="footer__item">
                    <a href="https://github.com/gregor-tokarev" target="_blank" class="footer__link">
                        <span>github</span>
                        <%- include('../../images/icons/arrow-link.svg')%>
                    </a>
                </li>
                <li class="footer__item">
                    <a href="https://twitter.com/gregortokarev" target="_blank" class="footer__link">
                        <span>twitter</span>
                        <%- include('../../images/icons/arrow-link.svg')%>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="footer__other">
            <div class="footer__message">
                <span>let's get</span>
                <span>in touch</span>
            </div>
            <div class="footer__circle">
                <div class="footer__letters">
                    <%- include('../../images/letter_circle.svg') %>
                </div>
                <svg class="footer__tricangle" width="54" height="45" viewBox="0 0 54 45" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M26.9929 0L53.337 45H0.648785L26.9929 0Z" fill="white"/>
                </svg>
            </div>
        </div>
    </div>
</footer>
