<div class="youtube">
    <h2 class="youtube__title">Я веду свой youtube канал</h2>
    <a href="https://youtube.com/@gregortokarev" target="_blank" class="profile">
        <img src="/images/youtube/avatar.jpg" alt="" class="profile__img"/>
        <div class="profile__info">
            <div class="profile__name">@gregortokarev</div>
            <div class="profile__stats">3.8к подписчиков • 200к просмотров</div>
        </div>
    </a>
    <div class="youtube__videos">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/qkLaSCXw9QU?si=YCpk901Tr_aYuu5O"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/mEKjFzGT8wc?si=ha92xiln0S-vjYsL"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/HfEPxM4J41Y?si=YPsal551se5er3MR"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/YXWootrynKg?si=6_wE-KcNm6KR8Lef"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
</div>
