:root {
  --dark: #060606;
  --gray-400: #4d4d4d;
  --gray-300: #a1a1a1;
  --gray-200: #d9d9d9;
  --gray-100: #f5f5f5;
  --white: #fff;
  --white-hover: #fafafa;
  --accent: #e10;
  --accent-light: #f99090;
  --accent-dark: #b20a0a;
}
