* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
html {
  scroll-behavior: smooth;
}

a {
  font-size: inherit;
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

::selection {
  color: var(--dark);
  background-color: var(--gray-200);
}
