@use "src/style/responsive";

.project--first {
  .project__wrapper {
    background-color: #6c27ff;
  }

  .project__img {
    top: 30px;
    right: 20px;
    left: 20px;
    width: calc(100% - 40px);

    @include responsive.apply-desktop {
      top: 60px;
      right: 40px;
      left: unset;
      width: 1000px;
    }
  }
}
