@use "src/style/typography";
@use "src/style/responsive";

$project-screen-height: 100vh;
$project-screen-spacer: 30px;

.projects {
  position: relative;
  margin-top: 110px;

  &__inner {
    position: relative;
    height: 100vh;
  }

  @include responsive.apply-desktop {
    margin-top: 240px;
  }
}

.project {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: calc(#{$project-screen-height} - #{$project-screen-spacer});
  margin: 0 responsive.$mobile-x-space;
  overflow: hidden;

  @include typography.display-1;

  @for $i from 1 through 3 {
    &:nth-child(#{$i}) {
      z-index: $i;
    }
  }

  &__wrapper {
    height: calc(#{$project-screen-height} - #{$project-screen-spacer});
  }

  &__count {
    position: absolute;
    top: 10px;
    right: 30px;
    color: var(--white);

    @include typography.label-3;

    @include responsive.apply-desktop {
      top: 60px;
      right: unset;
      left: 80px;

      @include typography.body-1;
    }
  }

  &__img {
    position: absolute;
  }

  &__body {
    position: absolute;
    left: 20px;

    @include responsive.apply-desktop {
      left: 80px;
    }
  }

  &__title {
    margin-bottom: 5px;
    color: var(--white);

    @include typography.title-2;

    @include responsive.apply-desktop {
      @include typography.display-1;
    }
  }

  &__text {
    color: var(--white);

    @include typography.body-3;

    @include responsive.apply-desktop {
      @include typography.body-2;
    }
  }

  &__link {
    @include typography.body-3;

    @include responsive.apply-desktop {
      @include typography.label-2;
    }
  }
}
