<section class="project project--fifth">
    <div class="project__wrapper">
        <div class="project__count">5 / 5</div>
        <img class="project__img" src="images/personal_todo/plan.png" alt="personal_todo plan">
        <div class="project__body">
            <p class="project__title">Cubicdone</p>
            <p class="project__text">Todo app that I make for my personal use, there is no Authorization all data stored localy, it also has ability to connect with popular task management systems</p>
            <a class="link project__link" target="_blank" href="https://cubicdone.com">cubicdone.com</a>
        </div>
    </div>
</section>
