<section class="project project--fifth">
    <div class="project__wrapper">
        <div class="project__count">1 / 3</div>
        <img class="project__img" src="images/personal_todo/plan.png" alt="personal_todo plan">
        <div class="project__body">
            <p class="project__title">Cubicdone</p>
            <p class="project__text">Ту-ду приложение, делал его для собственного использования, но потом на нем появился интерес других людей, после того как я снял про него видос</p>
            <a class="link project__link" target="_blank" href="https://cubicdone.com">cubicdone.com</a>
        </div>
    </div>
</section>
