<section class="project project--first">
    <div class="project__wrapper">
        <div class="project__count">1 / 5</div>
        <img class="project__img" src="images/procollab/user-profile.png" alt="procollab">
        <div class="project__body">
            <p class="project__title">procollab</p>
            <p class="project__text">font-end for teen connecting app, goal to connect ambitios teens together for projects</p>
            <a class="link project__link" target="_blank" href="https://procollab.ru">procollab.ru</a>
        </div>
    </div>
</section>
