<div id="projects" class="projects">
    <h1 class="home-title">Projects</h1>
    <div class="projects__inner">
        <%- include("first.ejs")%>
        <%- include("second.ejs")%>
        <%- include("third.ejs")%>
    </div>
</div>
