<section class="project project--second">
    <div class="project__wrapper">
        <div class="project__count">2 / 4</div>
        <img class="project__img" src="images/animelium/detail.png" alt="animelium evangelion">
        <div class="project__body">
            <p class="project__title">Animelium</p>
            <p class="project__text">Website for consuming anime. I'm UX/UI designer and front-end developer in this project</p>
            <a class="link project__link" target="_blank" href="https://animelium.ru">animelium.ru</a>
        </div>
    </div>
</section>
