<section class="project project--forth">
    <div class="project__wrapper">
        <div class="project__count">2 / 3</div>
        <img class="project__img" src="images/restless/readme.png" alt="restless readme">
        <div class="project__body">
            <p class="project__title">Restless</p>
            <p class="project__text">Http фреймворк для rust. Баловались с другом</p>
            <a class="link project__link" target="_blank" href="https://github.com/restless-rs/restless">github.com/restless-rs/restless</a>
        </div>
    </div>
</section>
