<section class="project project--second">
    <div class="project__wrapper">
        <div class="project__count">2 / 3</div>
        <img class="project__img" src="images/adviceday/nest-graph.png" alt="nest-graph">
        <div class="project__body">
            <a class="project__title link" target="_blank" href="/projects/adviceday.html">adviceday</a>
            <p class="project__text">back-end for mobile app that generate advices from greates people in history</p>
            <a class="link project__link" target="_blank" href="https://github.com/adviceday/nestjs-backend">github.com/adviceday/nestjs-backend</a>
        </div>
    </div>
</section>
