<section class="project project--third">
    <div class="project__wrapper">
        <div class="project__count">3 / 5</div>
        <img class="project__img" src="images/pomodoro/main-page.png" alt="pomodoro main page">
        <div class="project__body">
            <p class="project__title">Pomodoro</p>
            <p class="project__text">Еще давно делал свой pomodoro-timer</p>
            <a class="link project__link" target="_blank" href="https://pomodoro.tokarev.work">pomodoro.tokarev.work</a>
        </div>
    </div>
</section>
