<section class="skills" id="skills">
    <h1 class="home-title skills__title">Skills</h1>
    <ul class="skills__list">
        <li class="skill">
            <h3 class="skill__title title-1">Nest.js</h3>
            <p class="skill__body body-2">Used nest for backend monolitic apps. Start using in march 2020 </p>
        </li>
        <li class="skill">
            <h3 class="skill__title title-1">Angular2+</h3>
            <p class="skill__body body-2">My second and the most loved front-end framework. learn because of new job </p>
        </li>
        <li class="skill">
            <h3 class="skill__title title-1">Vue.js</h3>
            <p class="skill__body body-2">My first front-end framework. Learn by myself. </p>
        </li>
        <li class="skill">
            <h3 class="skill__title title-1">Postgres</h3>
            <p class="skill__body body-2">The only sql database in my stack. Commonly use with Nest.js </p>
        </li>
        <li class="skill">
            <h3 class="skill__title title-1">Typescript</h3>
            <p class="skill__body body-2">Tech guys can understand, that I using typescript, because of Angular(require typescript). But I want to mention it separately </p>
        </li>
        <li class="skill">
            <h3 class="skill__title title-1">Firebase</h3>
            <p class="skill__body body-2">Cool back-end as a service. I use it in several projects, when I can’t write my own back-end</p>
        </li>
        <li class="skill">
            <h3 class="skill__title title-1">UX&UI</h3>
            <p class="skill__body body-2">As I mentioned in hero, I also interested in design stuff</p>
        </li>
    </ul>
</section>
